<template>
  <div class="container">
    <form name="login-form">
      <div class="mb-3">
        <label for="username" class="control-label col-sm-2">Username: </label>
        <input type="text" id="username" class="form-control" v-model="input.username" />
      </div>
      <div class="mb-3">
        <label  for="password" class="control-label col-sm-2" >Password: </label>
        <input  type="password" id="password" class="form-control" v-model="input.password" />
      </div>
      <button class="btn btn-outline-dark" type="submit" v-on:click.prevent="login()">
        Login
      </button>
    </form>
    <h3>Output: {{ this.output }}</h3>
  

  </div>
 
</template>

<script>
  import 'bootstrap/dist/css/bootstrap.css';
  import 'bootstrap/dist/js/bootstrap.js';
  import { SET_AUTHENTICATION, SET_USERNAME } from "../store/storeconstants";
export default {
  name: 'LoginView',
  data() {
    return {
      input: {
        username: "",
        password: ""
      },
      output: "",
    }
  },
  methods: {
    login() {
      
      if (this.input.username != "" || this.input.username != "") {
        this.output = "Autentificacion completa";
        
        this.$store.commit(`auth/${SET_AUTHENTICATION}`, true);
        this.$store.commit(`auth/${SET_USERNAME}`, this.input.username);
        this.output = "Autentificacion completa";
        this.$router.push('/home');
      } else {
        this.$store.commit(`auth/${SET_AUTHENTICATION}`, false);
        this.output = "Se necesita un usuario y contraseña ";
      }
    },
  },


}
</script>