<template>  
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Bienvenido {{getUsername()}}<span class="sr-only"></span></a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
      </nav>
      <p></p>
      <div class="contenedor">
        <div class="centrado">
        <p>
          <button type="button" class="btn btn-primary" @click="fetchData">Consultar api de bitcoin</button>
        </p>
       
        <div v-if="data">
         
          <!--<pre>{{ data}}</pre>-->
          <div
          v-for="currency in data"
          class="currency">
          {{ currency.description }}:
          <span class="lighten">
            <span v-html="currency.symbol"></span>{{ currency.rate_float | currencydecimal }}
          </span>
        </div>
        </div>

        </div>
      </div>
     
     
     
  </template>
  
  <script>
  import 'bootstrap/dist/css/bootstrap.css';
  import 'bootstrap/dist/js/bootstrap.js';
  import   axios from 'axios';

  import {  GET_USERNAME } from "../store/storeconstants";
  export default {
    name: 'WelcomeVIew',
    data() {
      return {
        data : null,
        loading: true,
        errored: false
      }
    },
    filters: {
    currencydecimal (value) {
      return value.toFixed(2)
    }
  },
    methods:{
      getUsername() {
      return this.$store.getters[`auth/${GET_USERNAME}`]
    }, 
      fetchData(){
        const apiUrl = 'https://api.coindesk.com/v1/bpi/currentprice.json'; 
        axios.get(apiUrl)
        .then(response => {
          // Maneja la respuesta de la API
          this.data = response.data.bpi;
        })
        .catch(error => {
          // Maneja los errores si la API falla
          console.error('Error al obtener datos:', error);
        })
        .finally(() => this.loading = false)
      },

    }
   
  }



  </script>
  <style>
  .contenedor {
   
    width: 100%;
  }
  
  .centrado {
    
    width: 200px;
   
    margin: 0 auto;
  }
  
  p {
    margin-bottom: 80px;
  }
</style>